@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Cores base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  /* Cores temáticas */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* Cores personalizadas */
  --color-engineering-orange: var(--engineering-orange);
  --color-orange-wheel: var(--orange-wheel);
  --color-black: var(--black);
  --color-black-bean: var(--black-bean);
  --color-blood-red: var(--blood-red);

  /* Cores de texto */
  --color-text-black-bean: var(--text-black-bean);
  --color-text-blood-red: var(--text-blood-red);
  --color-text-gray: var(--text-gray);
  --color-text-white: var(--text-white);
  --color-text-engineering-orange: var(--text-engineering-orange);
  --color-text-orange-wheel: var(--text-orange-wheel);
  --color-text-light-gray: var(--text-light-gray);
}

:root {
  /* Background colors */
  --background: #fefefe; /* White */
  --engineering-orange: #ce1d00; /* Engineering Orange */
  --orange-wheel: #f37b00; /* Orange Wheel */
  --black: #0a0909;
  --black-bean: #2c0f00;
  --blood-red: #5b1300;

  /* Text colors */
  --foreground: #0a0909; /* Black */
  --text-black-bean: #2c0f00;
  --text-blood-red: #5b1300;
  --text-gray: #4a5565;
  --text-white: #fefefe;
  --text-engineering-orange: #ce1d00; /* Engineering Orange */
  --text-orange-wheel: #f37b00; /* Orange Wheel */
  --text-light-gray: #e5e7eb;

  /* Utility colors */
  --border: var(--black-bean);
  --ring: var(--orange-wheel);
  --primary: var(--engineering-orange);
  --secondary: var(--orange-wheel);
  --accent: var(--blood-red);
}

.dark {
  /* Background colors */
  --background: #fefefe; /* White */
  --engineering-orange: #ce1d00; /* Engineering Orange */
  --orange-wheel: #f37b00; /* Orange Wheel */
  --black: #0a0909;
  --black-bean: #2c0f00;
  --blood-red: #5b1300;

  /* Text colors */
  --foreground: #0a0909; /* Black */
  --text-black-bean: #2c0f00;
  --text-blood-red: #5b1300;
  --text-gray: #4a5565;
  --text-white: #fefefe;
  --text-engineering-orange: #ce1d00; /* Engineering Orange */
  --text-orange-wheel: #f37b00; /* Orange Wheel */
  --text-light-gray: #e5e7eb;

  /* Utility colors */
  --border: var(--black-bean);
  --ring: var(--orange-wheel);
  --primary: var(--engineering-orange);
  --secondary: var(--orange-wheel);
  --accent: var(--blood-red);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
